.node{
    background-color: rgb(255, 255, 255);
    background-size:cover;
    
    width:370px;
    border-radius:7px;
    box-shadow: 7px 7px 5px 0px rgba(175, 174, 174, 0.75);
    border-top: 3px solid #f7f7f7;
    position: relative;
    cursor: pointer;       
}

.text-center li{
    list-style: none;
}

.node h3 a{
    text-decoration: none;
    color: rgb(48, 48, 48);
}

#app{
    position: relative;
    left: 90px;
    bottom:33px;
}

.node:hover{
    background-color: rgba(202, 202, 202, 0.775);

} 
